<div id="word"><%=@word.normal%></div>
<span style="visibility:hidden" id="word_id"><%=@word.id%></span>

<script type="text/javascript">
$('#word').html('<span>' + $('#word').text().split('').join('</span><span>') + '</span>').find('span').click(function() {
    if ($(this).next().text() == '-') {
        $(this).next().remove();
    } else {
        $(this).after('<span>-</span>');
    }
});
</script>